body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#03001e, #460d84 40%, #4818a8, #362171) center
    fixed;
  background-repeat: repeat;
  background-size: cover;
  box-sizing: border-box;
}

#root {
  width: 1352px;
  margin: 0 auto;
  margin-top: 1em;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}